.App {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 50px;

  border-radius: 8px;
  min-width: 320px;
  min-height: fit-content;
  max-width: 400px;
  max-height: 800px;
  width: 90vw;
  background-color: white;
  box-shadow: 0px 0px 12px 8px #00000015;

  padding: 5px;
  border: 1px solid #00000030; 
}

.output {
  text-align: right;
  box-sizing: border-box;
  font-size: 2rem;
  width: 98%;
  height: 4.5rem;
  padding: 0.2rem;
  margin: 15px 0;
}

.output > p {
  margin: 0;
  padding: 0;
}

.output > p:first-child {
  color: gray;
  font-size: 1rem;
}

.output > p:last-child {
  font-size: 2.1rem;
}

.input {
  box-sizing: border-box;
  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.input-button {
  border: 1px solid #00000010;
  border-radius: 5px;
  background-color: white;

  margin: 2px;
  min-height: 4rem;
  font-size: 1.5rem;
  color: black;

  box-shadow: 1px 1px 0px 0px #00000025;

  transition: background-color 0.35s;
}

.fn-button {
  background-color: #f3faff77;
}

.eq-button {
  background-color: rgba(70, 209, 255, 220);
}

.input-button:hover {
  background-color: rgb(245, 246, 248)
}
.input-button:active {
  background-color: rgb(186, 229, 255);
}

.controls {
  height: fit-content;
  margin-top: 2px;
  width: 100%;
  display: flex;

}

.controls > * {
  margin: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.controls > span {
  font-size: 1.2rem;
}

.controls-button {
  border: none;
  border-radius: 5px;
  background-color: white;

  width: 35px;
  height: 35px;
}

.controls-button > svg {
  display: block;
}

.controls-button:hover {
  background-color: #0001;
}

.controls-button:active {
  background-color: #0002;
}

.controls-history {
  margin-left: auto;
}